{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container py-4">
    <h1 class="text-center">Questionnaire</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" class="mt-4">
        {% csrf_token %}

        {# Spark Type Question #}
        <div class="mb-4">
            <h3 class="mb-2">{{ form.spark_type.label }}</h3>
            {{ form.spark_type|as_crispy_field }}
        </div>

        {# Gender Preferences Question #}
        <div class="mb-4">
            <h3 class="mb-2">{{ form.gender_preferences.label }}</h3>
            {{ form.gender_preferences|as_crispy_field }}
        </div>

        {# Age Preferences Question #}
        <div class="mb-4">
            <h3 class="mb-2">{{ form.age_preferences.label }}</h3>
            {{ form.age_preferences|as_crispy_field }}
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-pink">
                {% if is_edit %}
                    Update Preferences
                {% else %}
                    Submit
                {% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
