{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% load allauth account %}
{% block head_title %}
    {% trans "Log In" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-10 col-xl-8 text-center mx-auto">
            <header class="mt-4">
                <h1>{% trans "Log In" %}</h1>
            </header>
            {% if not SOCIALACCOUNT_ONLY %}
                {% setvar link %}
                    <a href="{{ signup_url }}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                <p class="mt-3">
                    {% blocktranslate %}If you have not created an account yet, then please <a href="{{ signup_url }}" class="allauth-link text-decoration-none fw-semibold">create profile</a> first.{% endblocktranslate %}
                </p>
                {% url 'account_login' as login_url %}
                <form method="post" action="{% url 'account_login' %}" class="shadow p-3 border rounded">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {{ redirect_field }}
                            <button type="submit" class="btn btn-pink mt-3" aria-label="Sign in button">
                                {% trans "Log In" %}
                            </button>
                        </form>
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
                <hr class="mt-4">
                    {% if PASSKEY_LOGIN_ENABLED %}
                        <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-pink">
                            {% trans "Log in with a passkey" %}
                        </button>
                    {% endif %}
                    {% if LOGIN_BY_CODE_ENABLED %}
                        <a href="{{ request_login_code_url }}" class="btn btn-pink">
                            {% trans "Mail me a sign-in code" %}
                        </a>
                    {% endif %}
            {% endif %}
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
