{% extends "base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-6 col-xl-4 text-center mx-auto">
            <header class="mt-4">
                <h1>{% trans "Sign Out" %}</h1>
            </header>
            {% element p %}
                {% trans 'Are you sure you want to sign out?' %}
            {% endelement %}
            {% url 'account_logout' as action_url %}
            <form method="post" action="{{ action_url }}" class="shadow p-3 border rounded">
                {% csrf_token %}
                {{ form|crispy }}
                {{ redirect_field }}
                <button type="submit" class="btn btn-pink mt-3" aria-label="Sign out button">
                    {% trans 'Sign Out' %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
