{% extends "base.html" %}
{% load static %}

<title>{% block title %}Meet the Team{% endblock %}</title>

{% block content %}
<div class="container text-center px-0 pb-3">
    <h1 class="pt-4">Meet the team</h1>
    <div class="row py-2 mx-auto d-flex align-items-stretch">
      <!-- Card 1 -->
       <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/portfolio-img.JPEG' %}" alt="Image of team member Viola">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Viola Bergere</h2>
            <p class="card-text">As the SCRUM lead, Viola kept our team on track with a Kanban board (because chaos isn’t a strategy). She also jumped into development, wrangling Git workflows, designing the UI, and bringing the Team, FAQ, Privacy Policy, and Contact pages to life.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">"That's tomorrow's problem! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/viola-bergere/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Viola Bergere' LinkedIn profile">LinkedIn<i class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/violaberg" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Viola Bergere' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
       <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/portfolio.png' %}" alt="Image of team member Agnieszka">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Agnieszka Bialek</h2>
            <p class="card-text">Agnieszka helped to brainstorm name for our app and craft its slogan to capture its essence. Beyond branding, she also developed the like button for the Sparks page, ensuring smooth functionality and an engaging user experience.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">" It's definitely a maybe! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/agnieszka21/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Agnieszka Bialek' LinkedIn profile">LinkedIn<i class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/Agnieszka-21" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Agnieszka Bialek' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
       <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/portfolio1.jpeg' %}" alt="Image of team member Tamanna">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Tamanna Islam</h2>
            <p class="card-text">Tamanna set up the initial navigation bar and integrated allauth for authentication. She also added notifications to keep users updated, gave some text a glowing effect for extra flair, and tested the code to make sure everything ran smoothly.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">" Go ahead, Make my day! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="#" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Tamanna Islam' LinkedIn profile">LinkedIn<i
                  class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://www.linkedin.com/in/farha-tamanna-islam-sw-developer/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Tamanna Islam' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/me.jpeg' %}" alt="Image of team member Evangelos">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Evangelos Alexiou</h2>
            <p class="card-text">Evangelos built the messaging system to keep conversations flowing and added a report button for flagging inappropriate messages. He also contributed to the app’s first impression by writing content for the home page and developing the profile system.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">" More Espresso, Less Deppresso! "</span></p>
            <div class="mt-top d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/evangelos-alexiou-b88759132/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Evangelos Alexiou' LinkedIn profile">LinkedIn<i class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/Alexiou981" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Evangelos Alexiou' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/Large_outdoor_photo.jpg' %}" alt="Image of team member Jaime">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Jaime Hyland</h2>
            <p class="card-text">Jaime took the lead on designing our wireframes, mapping out the user experience and making sure everything looked and worked just right. He also built the real-time chat app from the ground up, making sure it had all the functionality to keep conversations flowing smoothly and seamlessly.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">"It's bad luck to be superstitious! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/language-landscapes/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Jaime Hyland' LinkedIn profile">LinkedIn<i
                  class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/JaimeHyland" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Jaime Hyland' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/george1.png' %}" alt="Image of team member George">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">George Burn</h2>
            <p class="card-text">George added an essential feature for our admins – a delete button that allows them to act quickly if a user needs to be removed. This gave our team more control and ensured the platform stays safe and secure.</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">" Taking Life One Click at a Time! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/george-burn/" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit George Burn' LinkedIn profile">LinkedIn<i class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/Georgeburn94" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit George Burn' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 7 -->
      <div class="card-col col-md-6 col-lg-4 mb-3 mx-auto">
        <div class="team-card card rounded shadow-lg h-100">
          <div class="wrapper">
            <div class="fs-1">❤️</div>
          </div>
          <img class="card-img-top" src="{% static 'images/profile_picture.jpeg' %}" alt="Image of team member Jan">
          <div class="card-body d-flex flex-column justify-content-between">
            <h2 class="fs-3 fw-bolder">Jan Rafanan</h2>
            <p class="card-text">Jan put together the user questionnaire to help find better Sparks matches, making the whole process smoother and more fun. They also worked on the profile setup, giving users a cool place to show off their interests. Oh, and he created the carousel on the homepage to make browsing feel a little more lively and engaging!</p>
            <p class="team-p pt-2">Favourite Phrase: <br><span class="phrase fs-3">" Google it! "</span></p>
            <div class="mt-auto d-flex justify-content-center gap-3">
              <a href="https://www.linkedin.com/in/jan-rafanan/"
                class="btn btn-pink p-2 text-decoration-none" aria-label="Visit Jan Rafanan' LinkedIn profile">LinkedIn<i
                  class="fs-5 fab fa-linkedin px-1"></i></a>
              <a href="https://github.com/yanidruffy" class="btn btn-pink p-2 text-decoration-none"
                aria-label="Visit Jan Rafanan' Github profile">Github<i class="fs-5 fab fa-github px-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}