core.Microsoft*
core.mongo*
core.python*
env.py
.env
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
db_backup.sql

# VS Code files for those working on multiple tools
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Virtualenv
wop/
wop/*
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# General macOS
.DS_Store
.AppleDouble
.LSOverride