# Core Django
Django==5.1.6
asgiref==3.8.1
sqlparse==0.5.3
tzdata==2025.1

# Database
psycopg2-binary==2.9.10
dj-database-url==2.3.0

# Channels and WebSocket
channels==4.2.0
daphne==4.1.2
channels_redis==4.2.1
redis==5.2.1

# Authentication and Forms
django-allauth==65.4.1
django-crispy-forms==2.3
crispy-bootstrap5==2024.10

# Notifications
django_notifications==0.1.dev0

# Asset handling
whitenoise==6.9.0
pillow==11.1.0

# Environment and configuration
python-dotenv==1.0.1

# Dependencies for Channels/WebSocket
autobahn==24.4.2
Twisted==24.11.0
attrs==25.1.0
Automat==24.8.1
constantly==23.10.4
cryptography==44.0.1
hyperlink==21.0.0
incremental==24.7.2
msgpack==1.1.0
pyOpenSSL==25.0.0
service-identity==24.2.0
txaio==23.1.1
zope.interface==7.2

# Other dependencies
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
distlib==0.3.9
django-extensions==3.2.3
filelock==3.17.0
gunicorn==23.0.0
idna==3.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
setuptools==75.8.0
typing_extensions==4.12.2
requests==2.32.3

