{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-4">
    {% if user.is_authenticated %}
    <div class="row">
        <span id="user-username" style="display:none;">"{{ user.username }}"</span>
        <div class="col-md-10 col-lg-8 mx-auto">
            <textarea id="chat-log" cols="100" rows="20"></textarea>
            <input id="chat-message-input" type="text" class="py-2" size="100">
            <div class="text-center">
                <input id="chat-message-submit" type="button" class="btn btn-pink mt-4" value="Send">
                {{ room_name|json_script:"room-name" }}
            </div>
        </div>
    </div>
    {% else %}
    <div id="not_allowed" class="col-md-10 col-sm-12 col-xl-10 mx-auto"></div>
        <h1 class="text-center pt-2">Oops! Page Not Found.</h1>
        <p class="text-center px-3">You must be logged in to access the chatrooms!</p>
        <a href="{% url 'home' %}" class="btn btn-pink rounded mt-3 p-2"
                aria-label="Brings you back to Home Page">Back to Home page
        </a>
    </div>
    {% endif %}
</div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = JSON.parse(document.getElementById('user-username').textContent);

        const chatSocket = new WebSocket(
            (window.location.protocol === "https:" ? "wss://" : "ws://") +
            window.location.host +
            "/ws/chat/" +
            roomName +
            "/"
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': username,
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock content %}
