{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h2>{{ profile.user.username }}'s Profile</h2>

    {% if user.is_authenticated %}
    <div>
        <span id="like-profile">
            <button class="like-profile" data-profile-item="{{ profile.id }}" aria-label="Like the profile">
                <i class="fa-regular fa-heart"></i>
            </button>
        </span>
    </div>
    {% endif %}
    
    <img src="{{ profile.profile_image.url }}" alt="Profile Image" width="150">
    
    <p><strong>Gender:</strong> {{ profile.get_gender_display }}</p>
    <p><strong>Age:</strong> {{ profile.age }}</p>
    <p><strong>Location:</strong> {{ profile.location }}</p>
    <p><strong>Bio:</strong> {{ profile.bio }}</p>
    <p><strong>Interests:</strong> {{ profile.interests }}</p>
    <p><strong>Looking for:</strong> {{ profile.get_relationship_goal_display }}</p>
    
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
</div>
{% endblock %}
