:root {
  --font-montserrat: "Montserrat", serif;
  --font-great-vibes: "Great Vibes", serif;
}

body {
  font-family: var(--font-montserrat);
}

h1, h2, h2,
.brand,
.nav-link {
  font-family: var(--font-great-vibes);
}

.brand {
  font-size: 2.5rem;
}

.nav-link {
  font-family: var(--font-montserrat);
  font-size: 1.1rem;
}

.nav-link:hover {
  color: green;
}

.nav-link.active {
  color: black !important;
  font-weight: 700;
}

.logo {
  width: 60px;  /* Increase logo size */
  height: auto;  /* Keep aspect ratio */
}

@media (max-width: 768px) { 
  .logo {
      width: 50px;  /* Reduce size on smaller screens */
  }
}
