{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Welcome to SparkSync - a modern dating platform. SparkSync is redefining modern connections — one algorithm at a time. We are on a mission to make digital dating safe, inclusive, and accessible for everyone.">
    <meta name="keywords"
        content="dating app, online dating, meaningful connections, relationship matching, compatibility matching, shared interests, dating platform, authentic relationships, secure dating, interest-based matching, SparkSync, romantic connections, relationship finder, safe dating platform">
    <title>{% block title %}SparkSync{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon for all devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0f4911cc18.js" crossorigin="anonymous"></script>

    <!-- JavaScript Cookie library - used to get CSRF token in ajax calls -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow py-3">
        <div class="container">
            <!-- App Name -->
            <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="SparkSync Logo" class="logo me-2">
                <span class="fs-1 text-glow">SparkSync</span>
            </a>

            <!-- Mobile Menu Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link {% if request.path == 'profiles/matching/' %}active{% endif %}"
                            href="{% url 'profiles:matching_profiles' %}">Sparks</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link {% if request.path == '/chat/' %}active{% endif %}"
                            href="{% url 'chat' %}">Chat</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link {% if request.path == 'messages/inbox/' %}active{% endif %}"
                            href="{% url 'messages:inbox' %}">Messages</a>
                    </li>

                    {% if user.is_authenticated %}
                    <!-- Notification Bell Icon -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notificationapp:notifications' %}">
                            <i class="fas fa-bell fa-lg"></i>
                        </a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item px-2">
                        <a class="btn btn-pink {% if request.path == 'profiles:profile' %}active{% endif %}"
                            href="{% url 'profiles:profile' %}" aria-label="Profile">Profile</a>
                    </li>
                    <li class="mobile-link nav-item px-2">
                        <a class="btn btn-pink" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item px-2">
                        <a class="btn btn-pink" href="{% url 'account_login' %}" aria-label="Login">Login</a>
                    </li>
                    <li class="mobile-link nav-item px-2">
                        <a class="btn btn-pink" href="{% url 'account_signup' %}" aria-label="Create Profile">Create
                            Profile</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Next 7 lines copied from https://www.brntn.me/blog/how-i-use-djangos-messages-framework/ -->
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Main Content -->
    <main class="container flex-grow-1 mt-5 pt-5">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center py-3">
        <div class="container text-center">
            <span class="copyright fs-4 mb-1">&copy; SparkSync</span>
            <p class="pb-2">All rights reserved</p>
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                <a class="btn btn-pink rounded mt-3 mx-3 fs-6 text-decoration-none" href="{% url 'contact' %}"
                    aria-label="Brings to Contact Page">Contact Us</a>
                <a class="btn btn-pink rounded mt-3 fs-6 text-decoration-none" href="{% url 'faq' %}"
                    aria-label="Brings to FAQ Page">FAQ</a>
                <a class="btn btn-pink rounded mt-3 mx-3 fs-6 text-decoration-none" href="{% url 'team' %}"
                    aria-label="Brings to Team Page">Meet the Team</a>
                <a class="btn btn-pink rounded mt-3 fs-6 text-decoration-none" href="{% url 'policy' %}"
                    aria-label="Brings to Privacy Policy Page">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script>
        // <![CDATA[
        var colours = new Array('#f00', '#f06', '#f0f', '#f6f', '#f39', '#f9c'); // colours of the hearts
        var minisize = 10; // smallest size of hearts in pixels
        var maxisize = 20; // biggest size of hearts in pixels
        var hearts = 100; // maximum number of hearts on screen
        var over_or_under = "over"; // set to "over" for hearts to always be on top, or "under" to allow them to float behind other objects

        /*****************************
        *JavaScript Love Heart Cursor*
        *  (c)2013+ mf2fm web-design *
        *   http://www.mf2fm.com/rv  *
        *  DON'T EDIT BELOW THIS BOX *
        *****************************/
        var x = ox = 400;
        var y = oy = 300;
        var swide = 800;
        var shigh = 600;
        var sleft = sdown = 0;
        var herz = new Array();
        var herzx = new Array();
        var herzy = new Array();
        var herzs = new Array();
        var kiss = false;

        if (typeof ('addRVLoadEvent') != 'function') function addRVLoadEvent(funky) {
            var oldonload = window.onload;
            if (typeof (oldonload) != 'function') window.onload = funky;
            else window.onload = function () {
                if (oldonload) oldonload();
                funky();
            }
        }

        addRVLoadEvent(mwah);

        function mwah() {
            if (document.getElementById) {
                var i, heart;
                for (i = 0; i < hearts; i++) {
                    heart = createDiv("auto", "auto");
                    heart.style.visibility = "hidden";
                    heart.style.zIndex = (over_or_under == "over") ? "1001" : "0";
                    heart.style.color = colours[i % colours.length];
                    heart.style.pointerEvents = "none";
                    if (navigator.appName == "Microsoft Internet Explorer") heart.style.filter = "alpha(opacity=75)";
                    else heart.style.opacity = 0.45;
                    heart.appendChild(document.createTextNode(String.fromCharCode(9829)));
                    document.body.appendChild(heart);
                    herz[i] = heart;
                    herzy[i] = false;
                }
                set_scroll();
                set_width();
                herzle();
            }
        }

        function herzle() {
            var c;
            if (Math.abs(x - ox) > 1 || Math.abs(y - oy) > 1) {
                ox = x;
                oy = y;
                for (c = 0; c < hearts; c++) if (herzy[c] === false) {
                    herz[c].firstChild.nodeValue = String.fromCharCode(9829);
                    herz[c].style.left = (herzx[c] = x - minisize / 2) + "px";
                    herz[c].style.top = (herzy[c] = y - minisize) + "px";
                    herz[c].style.fontSize = minisize + "px";
                    herz[c].style.fontWeight = 'normal';
                    herz[c].style.visibility = 'visible';
                    herzs[c] = minisize;
                    break;
                }
            }
            for (c = 0; c < hearts; c++) if (herzy[c] !== false) blow_me_a_kiss(c);
            setTimeout("herzle()", 30);
        }

        document.onmousedown = pucker;
        document.onmouseup = function () { clearTimeout(kiss); };

        function pucker() {
            ox = -1;
            oy = -1;
            kiss = setTimeout('pucker()', 100);
        }

        function blow_me_a_kiss(i) {
            herzy[i] -= herzs[i] / minisize + i % 2;
            herzx[i] += (i % 5 - 2) / 5;
            if (herzy[i] < sdown - herzs[i] || herzx[i] < sleft - herzs[i] || herzx[i] > sleft + swide - herzs[i]) {
                herz[i].style.visibility = "hidden";
                herzy[i] = false;
            }
            else if (herzs[i] > minisize + 1 && Math.random() < 2.5 / hearts) break_my_heart(i);
            else {
                if (Math.random() < maxisize / herzy[i] && herzs[i] < maxisize) herz[i].style.fontSize = (++herzs[i]) + "px";
                herz[i].style.top = herzy[i] + "px";
                herz[i].style.left = herzx[i] + "px";
            }
        }

        function break_my_heart(i) {
            var t;
            herz[i].firstChild.nodeValue = String.fromCharCode(9676);
            herz[i].style.fontWeight = 'bold';
            herzy[i] = false;
            for (t = herzs[i]; t <= maxisize; t++) setTimeout('herz[' + i + '].style.fontSize="' + t + 'px"', 60 * (t - herzs[i]));
            setTimeout('herz[' + i + '].style.visibility="hidden";', 60 * (t - herzs[i]));
        }

        document.onmousemove = mouse;
        function mouse(e) {
            if (e) {
                y = e.pageY;
                x = e.pageX;
            }
            else {
                set_scroll();
                y = event.y + sdown;
                x = event.x + sleft;
            }
        }

        window.onresize = set_width;
        function set_width() {
            var sw_min = 999999;
            var sh_min = 999999;
            if (document.documentElement && document.documentElement.clientWidth) {
                if (document.documentElement.clientWidth > 0) sw_min = document.documentElement.clientWidth;
                if (document.documentElement.clientHeight > 0) sh_min = document.documentElement.clientHeight;
            }
            if (typeof (self.innerWidth) == 'number' && self.innerWidth) {
                if (self.innerWidth > 0 && self.innerWidth < sw_min) sw_min = self.innerWidth;
                if (self.innerHeight > 0 && self.innerHeight < sh_min) sh_min = self.innerHeight;
            }
            if (document.body.clientWidth) {
                if (document.body.clientWidth > 0 && document.body.clientWidth < sw_min) sw_min = document.body.clientWidth;
                if (document.body.clientHeight > 0 && document.body.clientHeight < sh_min) sh_min = document.body.clientHeight;
            }
            if (sw_min == 999999 || sh_min == 999999) {
                sw_min = 800;
                sh_min = 600;
            }
            swide = sw_min;
            shigh = sh_min;
        }

        window.onscroll = set_scroll;
        function set_scroll() {
            if (typeof (self.pageYOffset) == 'number') {
                sdown = self.pageYOffset;
                sleft = self.pageXOffset;
            }
            else if (document.body && (document.body.scrollTop || document.body.scrollLeft)) {
                sdown = document.body.scrollTop;
                sleft = document.body.scrollLeft;
            }
            else if (document.documentElement && (document.documentElement.scrollTop || document.documentElement.scrollLeft)) {
                sleft = document.documentElement.scrollLeft;
                sdown = document.documentElement.scrollTop;
            }
            else {
                sdown = 0;
                sleft = 0;
            }
        }

        function createDiv(height, width) {
            var div = document.createElement("div");
            div.style.position = "absolute";
            div.style.height = height;
            div.style.width = width;
            div.style.overflow = "hidden";
            div.style.backgroundColor = "transparent";
            return (div);
        }
        // ]]>
    </script>

    <!-- Bootstrap JavaScript (Must be included for navbar toggling to work) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    {% block postloadjs %}{% endblock %}

</body>

</html>