{% extends "base.html" %}

{% block content %}
    <div class="container mt-4 text-center">
        <h1 class="py-4">Notifications</h1>
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <ul class="list-group shadow mb-5"> <!-- Added mb-5 for extra space -->
                    {% for notification in notifications %}
                        <li class="list-group-item text-center">
                            {{ notification.message }} <br>
                            <small class="text-muted">{{ notification.created_at }}</small>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-center text-muted">No new notifications</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


